{% extends 'base.html' %}
{% load static %}

{% block title %}Login | jangoproject{% endblock %}
{% block head_includes %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-4">
		<div class="card" style="max-width: 600px; margin: auto;">
      <div class="card-header text-center my-card">Login</div>

      <div class="card-body">
        <form method="post" class="form-group">
          {% csrf_token %}
          {{ form | crispy }}
					<div class="">
						<input type="submit" name="" value="Login" class="btn btn-success">
						<a href="{% url 'register' %}" class="btn btn-primary float-right">Register Now</a>
					</div>

        </form>
			</div>
		</div>
</div>
{% endblock %}
